{% extends 'base_dashboard.html' %}
{% block title %}Add Asset Item{% endblock %}
{% block page_title %}Add Asset Item{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">New Asset Item</div>
      <div class="card-body">
        <form method="post">{% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-success">Add Item</button>
          <a href="{% url 'inventory:dashboard' %}" class="btn btn-secondary ms-2">Cancel</a>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
